.map_station_sec {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.map_station_map_section {
  text-align: center;
}
.map_station_map {
  height: 450px;
  width: 100%;
  margin: 0 auto;
}
.map_station_main_content {
  width: 100%;
  margin-top: 20px;
}

.map_station_infos {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.map_station_infos_items {
  margin: 5px;
  padding: 5px;
}
.map_station-items {
  padding: 5px;
  margin: 5px;
}
.map_station_icon {
  padding: 10px;
  border-radius: 50%;
}
.map_station_infos_name {
  cursor: pointer;
}
.map_station_mini_map {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .map_station_sec {
    padding: 2px;
    margin: 2px 0px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    border: 1px solid #ddd;
  }
  .map_station_infos {
    width: 100%;
    padding: 1px;
  }
  .map_station-itemicon {
    display: none;
  }
}
